<ng-container *ngIf="image$ | async as image" >
  <ion-content>
    <img class="imgNext"[src]="image.src"/>
    <div class="indices" >
      <div *ngFor="let img of images; let i = index" class="position" [class.active]="i === currentImageIndex" ></div>
    </div>
    @for(img of images;track $index){
      <div class="bandText">
        @if(currentImageIndex === $index){
          <p id="text">{{images[currentImageIndex].text}}</p>
        }
      </div>
    }
  </ion-content>
</ng-container>
<ng-container *ngIf="!(image$ | async)">
  <div class="image-container">
    <p>No hay imágenes disponibles</p>
  </div>
 
</ng-container>
  

  
