@if(!mostrar){
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Loader of Image
    </ion-title>
  </ion-toolbar>
</ion-header>
}
<ion-content  [fullscreen]="true">
  

  <div id="container">
    @if(mostrar){
      <!--[interval]="intervalTime"-->
      <app-loader-img [images]="imagenes" [interval]="intervalTime" ></app-loader-img>
    }
    @if(!mostrar){
      <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
      </div>
      
      <ion-button shape="round"  (click)="mostrarLoader()"><ion-icon slot="start" name="play"></ion-icon> Loader</ion-button>
      <ion-input 
      type="number"
      label="Ingresa el tiempo del intervalo segundos"
      label-placement="floating" fill="outline"
      placeholder="Ingresa el tiempo en segundos"
      [(ngModel)]="inputIntervalTime"
       >
      </ion-input>
    }
    
  </div>
</ion-content>
